/* Header Styles */
body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f6fa;
  color: #333;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 600; 
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #0f4df8;
    padding: 19px 29px;
    color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
.logo {
  font-size: 28px;
  font-weight: bold;
  color: #fcd34d;
}

.search {
  flex: 1;
  margin: 0 20px;
  padding: 10px 16px;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  outline: none;
  background-color: #fff;
  color: #333;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-links {
  display: flex;
  gap: 24px;
  align-items: center;
}

.login,
.cart {
  cursor: pointer;
  font-size: 16px;
  padding: 6px 12px;
  background-color: #fcf9f5;
  color: rgb(19, 17, 17);
  border-radius: 4px;
  transition: background-color 0.3s;
  
}

.login:hover,
.cart:hover {
  background-color: #0637d9;
  color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transform: scale(1.05);
  transition: transform 0.2s, background-color 0.3s;
  font-weight: bold;
  text-decoration: none;
  padding: 8px 16px;
  
}
